{% extends "base.html" %}

{% block content %}

    {% include 'navebar.html' %}

    <div class="container"">
        <h1 class="center-align">Hello World!</h1>
        <!-- Page Content goes here -->
        <div class="row">
            <div class="col s12 m6">

                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <div class="card-image">
                                    <img src="https://scontent.fccu2-1.fna.fbcdn.net/v/t1.0-9/104827072_1835143033294261_2713919001503844428_n.jpg?_nc_cat=104&_nc_sid=09cbfe&_nc_ohc=f3DYobQR0XYAX_MYhea&_nc_ht=scontent.fccu2-1.fna&oh=b1596b1f6e9b204724dbe710f8ae82bd&oe=5F2C8C14">
                                </div>
                                    <span class="card-title">Rohit Abhishek</span>
                                        <p>Computer Programmer and Python Developer at Ajay Kumar Garg Engineering College, Ghaziabad.</p>
                            </div>
                            <div class="card-action">
                                <a href="https://www.linkedin.com/in/rohit-abhishek-422808194/">Linkedin</a>
                                <a href="https://www.instagram.com/abhi_rohit_/">Instagram</a>
                            </div>
                        </div>

            </div>

            <div class="col s12 m6" >
                <h6 style="color:red;" class="center-align">My Skills</h6>
                 <div class="collection">
                    <a href="https://www.hackerrank.com/rabhi1611" class="collection-item">C++</a>
                    <a href="https://www.hackerrank.com/rabhi1611" class="collection-item ">Python</a>
                    <a href="https://www.hackerrank.com/rabhi1611" class="collection-item active">Problem Solving</a>
                    <a href="https://www.hackerrank.com/rabhi1611" class="collection-item">Django</a>
                 </div>
            
                    <br><br>
                <h6 style="color:red;" class="center-align">My Achievements</h6>
                 <div class="collection">
                    <a href="https://www.hackerrank.com/rabhi1611" class="collection-item active">Skills Verified @ hackerrank: python, problem solving</a>
                    <a href="https://www.hackerrank.com/rabhi1611" class="collection-item ">python 5 star hackerrank</a>
                    <a href="https://www.hackerrank.com/rabhi1611" class="collection-item">c++ 5 star hackerrank</a>
                    <a href="https://www.hackerrank.com/rabhi1611" class="collection-item ">problem solving 6 star hackerrank</a>
                </div>
            
                
            </div>
        </div>
    </div>



      <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="red-text" >Let's get connected</h5>
                <p class="grey-text text-lighten-4"> do use my linkedin link for more info..</p>
                <p>For colaboration, drop a mail at rabhi1611@gmail.com</p>
                <p>See ya!😊, Thanks for your time!</p>
              </div>
              
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Copyright Text
            
            </div>
          </div>
        </footer>

{% endblock %}
 